/* main style :) */

.paybox{
    background-color: #393E46;
    margin: auto;
    width: 70%;
    height: 85%;
    margin-top: 150px;
}

body{
    background-color: #222831;
}

.ncoinlogo{
    width: 20%;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#qr{
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/* loader style :) */

.lds-ring {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;

    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}


/* myalgo button style :) */
#myalgo {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
}
#myalgo {
    margin:0 auto;
    display:block;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-color: none;
    border: none;
    color: white;            
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    display: block;
}

#myalgo:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* algowallet button style :) */

#algowallet {
    background-image: linear-gradient(to right, #1CD8D2 0%, #93EDC7  51%, #1CD8D2  100%);
}
#algowallet {
    margin: auto;
    display:block;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-color: none;
    border: none;
    color: white;            
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    display: block;
}

#algowallet:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


